@font-face{
    font-family: leagueSpartan;
    src: url(leagueSpartan.woff);
}
@font-face{
    font-family: glacialIndifferance;
    src: url(glacialIndifference.woff);
}

body{
    background-color: white;
    height: auto;
}

.nav1{
    background-color: #003262;
}

.nav1 a{
    font-size: 12px;
    color: #f2f2f2;
    font-family: helvetica;
}

.nav1 a:hover{
    color: orange;
}

.nav1 span{
    color: #f2f2f2;
}

.nav2{
    background-color: white;
}

.nav2 img{
    height: 70px;
}

.nav2 li{
    margin-right: 0px;
}

.nav2 a{
    color: #003262 !important;
    font-family: glacialIndifferance;
}

.line{
    height: 3px;
    background-color: #003262;
}

.bg{
    background-image: url("  bg2.png");
    background-size: cover;
    height: 90%;
    width: 100%;
    position: absolute;
    padding-top: 150px;
    margin: 0;

}

.film{
    background-color: black;
    height: 90%;
    width: 100%;
    position: absolute;
    padding-top: 150px;
    margin: 0;
    z-index: 5;
    opacity: 0.1;

}

.bg img{
    height: 200px;
}

.bg h1{
    color: white;
    font-size: 80px;
    font-family: leagueSpartan;
}

.bg h2{
    color: white;
    font-size: 30px;
    font-family: glacialIndifferance;
}
.bg p{
    color: white;
    font-size: 20px;
    position: relative;
    top: 100px;
    font-family: glacialIndifferance;

}

.aboutContent{
    opacity: 1;
    z-index: 20 !important;
}
.about{
    opacity: 1;
    z-index: 20  !important;
}

.imgArrowHead{
    height: 30px !important;
    position: relative;
    top: 100px;
}

.imgArrowHead:hover{
    animation: moveUpDown 1s forwards;
}
/*HIGHLIGHTS*/

.highlightsHead{
    color: #003262;
    position: relative;
    top: 550px;
    font-family: leagueSpartan;
}

.row1{
    top: 920px;
    background-color: rgb(255, 255, 255);
}

.card{
    height: 250px;
    margin: 10px;
    margin-bottom: 30px;
    padding: 0;
    border-radius: 0px;
}

.innerDiv{
    height: 100%;
    width: 100%;
    margin: auto;
}

.text-bottom{
    position: absolute;
    bottom: 90px;
    left: 60px;
    color: #f2f2f2;
}

.c1 img{
    height: 250px;
}

@keyframes blur{
    from {
        filter: blur(0px);
    }
    to{
        filter: blur(2px);
    }
}

.c1 img:hover{
    animation: blur 0.5s forwards;
}

.c2{
    background-color: #003262;
    color: white;
    font-family: leagueSpartan;
}

.c3{
    background-color: white;
    color: #003262;
    font-family: leagueSpartan;
}

.c2, .c3{
    padding-top: 30px;
    padding: auto;
    margin: 10px auto;
}
.c2 p, .c3 p{
    padding: 0;
    margin: 0;
}

@keyframes scaleUpDown{
    0%{transform: scale(1);}
    50%{transform: scale(0.9);}
    100%{transform: scale(1);}
}

.c2:hover, .c3:hover{
    animation: scaleUpDown 1s forwards;
}

.c4 .card-title{
    background-color: #003262;
    color: white;
    padding-top: 10px;
    font-family: leagueSpartan;
}

.c4 a:hover{
    color: orange;
}

.card{
    border: none;
}

.ann1{
    margin-bottom: 15px;
}

.seeMore{
    border-style: none !important;
}

.card a:hover{
    text-decoration: none;
}

.cardContent{
    height: 112px;
    padding-left: 10px;
    padding-top: 35px;
}

.cardContent a{
    font-family: Helvetica;
    font-size: 15px;
}

hr{
    color: #003262;
}

.card-footer{
    background-color: #003262;
}

.card-footer a{
    color: white;
    font-family: glacialIndifferance;
}

.card-footer a:hover{
    text-decoration: none;
}

.twitterContent, .fbContent{
    position: absolute;
    top: 0px;
    z-index: 0;
}

.slideUp{
    background-color: #003262;
    color: white;
    font-family: leagueSpartan;
    height: 240px;
    z-index: 1;
}

.slide{
    height: 240px;
}

.fbImg, .twitterImg{
    height: 80px;
    margin: 15px;
}

.twitter-timeline{
    height: 100px;
    z-index: -1;
}

.arrowImg{
    height: 30px;
    position: relative;
    top: 30px;
}

@keyframes moveUpDown{
    0%{transform: translateY(0px)}
    50%{transform: translateY(-10px)}
    100%{transform: translateY(0px)}
}

.slideUp:hover{
    animation: moveUpDown 1s forwards;
}

.c7{
    color: #003262;
    font-family: leagueSpartan;
    padding: 20px 0px;
}

.newsImg1, .newsImg2, .newsImg3{
    height: 210px;
    position: relative;
}

.hidden{
    display: none;
}

.newsHead{
    position: absolute;
    top: 100px;
    left: 150px;
}

.newsImg1:hover{
    animation: blur 1s forwards;
}

.c1, .c2, .c3, .c4, .c5, .c6, .c7{
    box-shadow: black 1px 1px 10px;
}

/*footer*/

.footer{
	padding: 40px 0 7px;
	background:#003262;
    color: #f8f8f8;
    position: absolute;
    top: 3000px;
    width: 100%;
}
.footer .row{
	border-bottom: 1px solid lightgrey;
	padding-bottom: 20px;
}
.footer h6{
	background: linear-gradient(#f5f5f5, #f5f5f5) no-repeat;
  	background-size: 10% 5px;
  	background-position: left bottom;
  	padding-bottom: 10px;
  	margin-bottom: 20px;
}
.footer .row .col-md-3 a{
	text-decoration: none;	
	color: #f5f5f5;
}
.footer .col-md-12{
	background:#1565c0;
}
.footer .fa {
  margin-right: 5px;
  padding: 5px;
  font-size: 21px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}
.footer .fa:hover {
    opacity: 0.7;
}
.footer .fa-facebook {
  background: #3B5998;
  color: white;
}

.footer .fa-twitter {
  background: #55ACEE;
  color: white;
}
.footer .fa-linkedin {
  background: #007bb5;
  color: white;
}
.grow{ transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.5); }

/*slider*/
.margin-topper{
    padding-bottom: 1200px;
}

.card1{
    margin: 0px;
    margin-top: 0px !important;
}

.bgGold{
    position: absolute;
    top: 1800px;
    height: 900px;
    width: 100%;
    background-image: url("  bgd.jpg");
    background-size: cover;
    opacity: 0.8;
}
/*
.research{
    position: absolute;
    top:2700px;
    height: 500px;
    padding-top: 100px;
    padding-left: 300px;
    margin: auto;
}

.r{
    height: 300px;
    background-color: blue;
    width: 700px;
    margin-right: 10px;
}

.r2{
    height: 700px;

}

.r3{
    height: 300px;
    position: absolute;
    top: 500px;
    width: 700px;
}
*/